@model SmartCookbook.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
		</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Private)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Private)
		</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @if(Model.Ingredients != null && Model.Ingredients.Any())
                {
                    foreach(var ingredient in Model.Ingredients){
						<li>@ingredient.Ingredient.Name - @ingredient.Quantity @ingredient.Unit</li>
					}
				}
				else{
					<li>No ingredients</li>
                }
            </ul>
        </dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Steps)
		</dt>
		<dd class="col-sm-10">
			<ul>
                @if (Model.Steps != null && Model.Steps.Any())
                {
                    foreach (var step in Model.Steps)
                    {
                        <li>@step.Description - @step.Duration @step.Unit</li>
                    }
                }
                else
                {
                    <li>No steps</li>
                }
            </ul>
		</dd>
    </dl>
</div>

<h5>Ratings</h5>
<ul>
    @foreach (var rating in Model.Ratings)
    {
        <li>
            @rating.RatingValue - "@rating.Comment" - @rating.UserName
            @if (User.Identity.IsAuthenticated && rating.UserName == User.Identity.Name)
            {
                <form asp-action="DeleteRating" asp-controller="Ratings">
                    <input type="hidden" name="ratingId" value="@rating.Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            }
        </li>
    }
</ul>

<h6>Rate this Recipe</h6>
@if(User.Identity.IsAuthenticated)
{
	<partial name="_RatingForm" model="new SmartCookbook.Models.Rating { Recipe = Model }" />
}
else
{
    <p>You must be <a href="/Identity/Account/Login">logged in</a> to rate this recipe</p>
}


<div>
    @if(Model.Author == User.Identity.Name)
	{
		<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
        <a>|</a>
		<a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
	}
    <a asp-action="Index">Back to List</a>
</div>
